@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-100;
}

.AppBar {
  @apply bg-white flex items-center justify-between mobile:mb-md p-bs sticky;
  @apply top-0 w-full z-10;

  > {
    :not(:last-child) {
      @apply mr-xs;
    }

    :nth-child(2) {
      @apply flex-grow;
    }
  }

  &-backButton {
    @apply flex h-md items-center justify-center outline-none rounded-full;
    @apply transition duration-300 w-md;

    -webkit-tap-highlight-color: transparent;

    &:active,
    &:focus {
      @apply bg-gray-300;
    }

    &:disabled {
      &.AppBar-backButton {
        &:active,
        &:focus {
          @apply bg-transparent;
        }
      }

      @apply cursor-not-allowed;
    }
  }

  &-brand {
    @apply cursor-default font-extrabold text-xl leading-6 select-none;
  }

  &-title {
    @apply flex-grow select-none text-gray-900;

    font-size: 20px;
    line-height: 27px;
  }
}

.Box {
  @apply bg-white mobile:border border-gray-300 p-bs mobile:rounded-2xs;
}

.Button {
  @apply bg-white border border-gray-300 flex font-bold items-center;
  @apply justify-center outline-none px-bs py-sm rounded-xs select-none;
  @apply text-center text-gray-700 transition duration-300;

  -webkit-tap-highlight-color: transparent;

  &:active,
  &:hover,
  &:focus {
    @apply border-ruby-500 text-ruby-500;
  }

  &:active,
  &:focus {
    @apply ring ring-red-200;
  }

  &:focus {
    @apply bg-ruby-100;
  }

  &--fullWidth {
    width: 100%;
  }

  &--small {
    @apply px-sm py-2xs text-xs;
  }

  &.Button--primary {
    @apply bg-ruby-500 border-0 text-white;

    &:hover {
      @apply bg-ruby-400 border-ruby-400 text-white;
    }

    &:focus {
      @apply bg-ruby-600 border-ruby-600;
    }
  }

  &.Button--success {
    @apply bg-green-500 border-green-500 text-white;

    &:active,
    &:focus {
      @apply ring ring-green-200;
    }

    &:hover {
      @apply bg-green-400 border-green-400 text-white;
    }

    &:focus {
      @apply bg-green-600 border-green-600;
    }

    &.Button--outlined {
      @apply bg-white border border-green-500 text-green-500;

      &:hover {
        @apply bg-green-500 text-white;
      }
    }
  }

  &:disabled {
    &.Button--primary,
    &.Button--outlined,
    &.Button--primary.Button--outlined {
      &:hover {
        @apply bg-gray-300 border-gray-300 text-white cursor-not-allowed;
      }

      &:active,
      &:focus {
        @apply ring-0;
      }

      @apply bg-gray-300 border-gray-300 text-white cursor-not-allowed;
    }
  }
}

.ButtonGroup {
  @apply flex;

  height: 46px;

  .Button {
    @apply rounded-none;

    &:first-child {
      @apply rounded-l-xs;
    }

    &:last-child {
      @apply rounded-r-xs;
    }

    &:focus,
    &:hover {
      z-index: 1;
    }
  }
}

.DefaultLayout {
  @apply m-auto max-w-screen-md;
}

.Heading {
  @apply font-bold text-base leading-5 text-gray-900;
}

.Link {
  @apply cursor-pointer outline-none select-none text-ruby-500 text-xs;

  -webkit-tap-highlight-color: transparent;

  &:active,
  &:focus {
    @apply text-ruby-200;
  }
}

.List {
  @apply border border-gray-300 rounded-2xs select-none;

  &-actions {
    @apply flex w-full mt-xs;
  }

  &-action {
    @extend .Button;
    @extend .Button--primary;
    @extend .Button--small;

    &:not(:last-child) {
      @apply mr-xs;
    }

    &--success {
      @extend .Button--success;
    }
  }

  &-item {
    @apply flex flex-col items-center justify-between outline-none px-bs py-sm transition duration-300;

    -webkit-tap-highlight-color: transparent;

    &:not(:last-child) {
      @apply border-b border-gray-300;
    }

    &:active,
    &:focus {
      @apply bg-ruby-100;
    }

    &Content {
      @apply w-full;
    }

    &Subtitle {
      @apply text-xs;
    }

    &Title {
      @apply font-semibold text-gray-900 text-sm;
    }
  }
}

@import "fonts.scss";
@import "sweetalert2/src/sweetalert2.scss";
